/* all animations */
/* switching page animations */
#swup {
  transition-property: opacity, transform;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  transform: translateX(0);
  opacity: 1;
}

html.is-animating #swup { opacity: 0; transform: translateX(-1em); }
html.is-leaving #swup{ transform: translateX(1em); }
html.is-animating.to-left #swup{ opacity: 0; transform: translateX(1em); }
html.is-leaving.to-left #swup{ transform: translateX(-1em); }

/* in-page element animations */
.animate-element {
  opacity: 0;
  transition: all 0.6s ease-out;
}

.fade-in { transition: opacity 2s ease-in-out; }

.slide-from-bottom { transform: translateY(30px); }
.slide-from-left { transform: translateX(-30px); }
.slide-from-right { transform: translateX(30px); }

.animate-element.is-visible {
  opacity: 1;
  transform: translate(0, 0);
}

.delay-animation-small.is-visible { transition-delay: 0.2s; }
.delay-animation-normal.is-visible { transition-delay: 0.6s; }

@keyframes shimmer {
  0% { background-position: -468px 0; }
  100% { background-position: 468px 0; }
}

.skeleton-shimmer,
.skeleton-post,
.npc-image-skeleton,
.skeleton-text,
.faq-skeleton-loader .skeleton-block {
    background: #f6f6f6;
    background-image: linear-gradient(to right, #f6f6f6 0%, #eaeaea 20%, #f6f6f6 40%, #f6f6f6 100%);
    background-repeat: no-repeat;
    background-size: 800px 104px;
    animation: shimmer 1.5s linear infinite;
}
