/* Reset box-sizing */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Reset default appearance */
textarea,
select,
input,
progress {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* Make the body a nice central block */
body {
  display: grid;
  grid-template-columns: 1fr min(55rem, 90%) 1fr;
  margin: 0;
  overflow-x: hidden;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

body > main {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
  overflow-x: hidden;
}

main > *:not(.break-section) {
  grid-column: 2;
}

/* General Strcture of Footer and Header is same, full width div with centered content */
body > header, body > footer {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
}

/* Consolidate box styling */
aside, details, pre, progress {
  background-color: var(--accent-bg);
  border-radius: var(--standard-border-radius);
  margin-bottom: 1rem;
}

article, fieldset, dialog {
  border: var(--border-width) solid var(--border);
  padding: 1rem;
  border-radius: var(--standard-border-radius);
  margin-bottom: 1rem;
}

article h2:first-child,
article h3:first-child {
  margin-top: 1rem;
}

/* hide large hl text for seo */
.hidden-visually {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
