/* card layout */
div.card-layout { padding: 2rem 0 0; }

.card-layout {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.card-layout-wrapper {
  grid-column: 1/13;
  background-color: var(--text);
  color: var(--bg);
  display: flex;
  padding: 2rem;
  border-radius: var(--standard-border-radius);
  gap: 2rem;
  box-shadow: 0px 15px 0px 0px var(--accent-bg);
  align-items: center;
}

.card-layout-wrapper.left {
  grid-column: 1/10;
  box-shadow: -15px 15px 0px 0px var(--accent-bg);
}

.card-layout-wrapper:not(:last-of-type) { margin-bottom: 3rem; }

.card-layout-wrapper.right {
  grid-column: 4 / -1; 
  box-shadow: 15px 15px 0px 0px var(--accent-bg);
}

.card-layout-image { max-width: 150px; }
.card-layout-content { width: 100%; }
.card-layout-content > details { color: var(--text); }
.card-layout-content > details > summary { letter-spacing: 0.05rem;}

@media (max-width: 768px) {

  .card-layout {
    display: flex;
    flex-direction: column;
  }

  .card-layout-wrapper {
    flex-direction: column;
    padding: 1.5rem;
    gap: 0.5rem;
  }

  .card-layout-image { max-width: 150px; }

}


