/* Two-column layout styles */
.two-col-layout {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 2rem 4rem; 
  align-items: end; 
  justify-content: center;
}

.two-col-layout > .section-subtitle {
  grid-column: 1/-1;
  justify-self: center;
  margin: 0;
}

.left-col, .right-col {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.left-col > .image-masker-overlay, .right-col > .image-masker-overlay {
  z-index: -1;
  width: 50%;
  max-width: 200px;
  align-self: center;
  margin-bottom: -40px;
}

@media (max-width: 768px) {
  .two-col-layout {
    grid-template-columns: 1fr;
    gap: 1rem;
  }


.two-col-layout > .section-subtitle {
  margin-left: 5px;
}

  .two-col-layout > .section-subtitle,
  .left-col > .image-masker-overlay,
  .right-col > .image-masker-overlay {
    align-self: flex-end;
    justify-self: flex-start;
  }

  .left-col {
    margin-bottom: 4rem;
  }
}


