<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
<meta name="robots" content="noai, noimageai">
<link rel="canonical" href="{=$href}">

<meta name="apple-mobile-web-app-title" content="%%SITE_NAME%%" />
<link rel="icon" type="image/png" href="/meta-assets/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/meta-assets/favicon.svg" />
<link rel="shortcut icon" href="/meta-assets/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/meta-assets/apple-touch-icon.png" />
<link rel="manifest" href="/site.webmanifest" />

<title>{=$title}</title>
<meta name="description" content="{=$description}">

<meta property="og:type" content="website">
<meta property="og:url" content="{=$href}">
<meta property="og:site_name" content="%%SITE_NAME%%">
<meta property="og:title" content="{=$title}">
<meta property="og:description" content="{=$description}">
<meta property="og:image" content="%%SITE_URL%%/meta-assets/social-share-image.webp">

<meta name="twitter:title" content="{=$title}">
<meta name="twitter:description" content="{=$description}">
<meta name="twitter:image" content="%%SITE_URL%%/meta-assets/social-share-image.webp">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:url" content="{=$href}">

<meta name="theme-color" content="#F5F5DC" media="(prefers-color-scheme: light)">
<meta name="theme-color" content="#4A4647" media="(prefers-color-scheme: dark)">
<script type="module" src="/js/app.js" defer></script>
<link href="/css/styles.css" rel="stylesheet">
<link href="{=$page}.css" rel="stylesheet">
