name: Deploy Website to AWS S3
# This workflow runs on any push to the 'main' branch
on:
  push:
    branches: [main]
jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      # Step 1: Check out your repository's code
      - name: Checkout code
        uses: actions/checkout@v4
      # Step 2: Configure your AWS credentials
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ vars.AWS_REGION }}
      # Step 3: Build the project
      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: npm
      - name: Install dependencies
        run: npm ci
      - name: Build static site with Vite
        run: npm run build
      # Step 4: Deploy the 'dist' folder to the S3 bucket
      - name: Deploy to S3
        run: aws s3 sync ./dist ${{ secrets.S3_BUCKET_PROD }} --delete
      # Step 5: Invalidate the CloudFront cache
      - name: Invalidate CloudFront
        run: aws cloudfront create-invalidation --distribution-id ${{ secrets.CLOUDFRONT_DISTRIBUTION_ID }} --paths "/*"
