name: Deploy Dev Site to AWS S3 Dev Bucket
on:
  push:
    branches: [dev]
jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      MAGIC_KEYWORD: $${{ secrets.MAGIC_KEYWORD}}
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ vars.AWS_REGION }}
      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: npm
      - name: Install dependencies
        run: npm ci
      - name: Build static site with Vite
        run: npm run build:dev
      - name: Deploy to S3
        run: aws s3 sync ./dist ${{ secrets.S3_BUCKET_DEV }}/$MAGIC_KEYWORD --delete
      - name: Invalidate CloudFront
        run: aws cloudfront create-invalidation --distribution-id ${{ secrets.DEV_CLOUDFRONT_DISTRIBUTION_ID }} --paths "/$MAGIC_KEYWORD/*"
